/*Efeito botão animado*/
.btn-animated {		
    animation: bounce-top 2.2s ease-out 0s infinite normal none
}

@keyframes bounce-top {
            
    0% {
        transform:translateY(0);
    }
    25% {
        transform:translateY(0);
    }
    40% {
        transform:translateY(-24px);
    }
    55% {
        transform:translateY(0);
    }
    65% {
        transform:translateY(-12px);
    }
    75% {
        transform:translateY(0);
    }
    82% {
        transform:translateY(-6px);
    }
    87% {
        transform:translateY(0);
    }
    93% {
        transform:translateY(-4px);
    }
    100% {
        transform:translateY(0);
    }
}

/*Efeito reveal nas divs*/
.reveal {
    position: relative;
    transform: translateY(14.4rem);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

/*Background animado*/
.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #f5df4e;
    overflow: hidden;
    z-index: -55;
}
.background li {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #dcc846;
    color: transparent;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 18s ease-in forwards infinite;
}
.background li:nth-child(0) {
    animation-delay: 0s;
    left: 87vw;
    top: 84vh;
    border-color: #fff555;
}

.background li:nth-child(1) {
    animation-delay: 0.2s;
    left: 65vw;
    top: 50vh;
}

.background li:nth-child(2) {
    animation-delay: 0.2s;
    left: 57vw;
    top: 11vh;
}

.background li:nth-child(3) {
    animation-delay: 0.2s;
    left: 41vw;
    top: 72vh;
}

.background li:nth-child(4) {
    animation-delay: 8s;
    left: 18vw;
    top: 98vh;
    border-color: #fff555;
}

.background li:nth-child(5) {
    animation-delay: 10s;
    left: 96vw;
    top: 33vh;
}

.background li:nth-child(6) {
    animation-delay: 12s;
    left: 83vw;
    top: 5vh;
}

.background li:nth-child(7) {
    animation-delay: 14s;
    left: 1vw;
    top: 92vh;
    border-color: #fff555;
}

.background li:nth-child(8) {
    animation-delay: 16s;
    left: 44vw;
    top: 78vh;
}

.background li:nth-child(9) {
    animation-delay: 18s;
    left: 72vw;
    top: 44vh;
}

.background li:nth-child(10) {
    animation-delay: 20s;
    left: 6vw;
    top: 66vh;
}

.background li:nth-child(11) {
    animation-delay: 22s;
    left: 21vw;
    top: 54vh;
}

.background li:nth-child(12) {
    animation-delay: 24s;
    left: 75vw;
    top: 39vh;
}

.background li:nth-child(13) {
    animation-delay: 26s;
    left: 63vw;
    top: 22vh;
}

.background li:nth-child(14) {
    animation-delay: 28s;
    left: 91vw;
    top: 82vh;
    border-color: #fff555;
}

.background li:nth-child(15) {
    animation-delay: 30s;
    left: 28vw;
    top: 16vh;
    border-color: #fff555;
}

.background li:nth-child(16) {
    animation-delay: 32s;
    left: 33vw;
    top: 29vh;
    border-color: #fff555;
}

.background li:nth-child(17) {
    animation-delay: 34s;
    left: 51vw;
    top: 61vh;
}

.background li:nth-child(18) {
    animation-delay: 36s;
    left: 12vw;
    top: 7vh;
    border-color: #fff555;
}

.border-pic {
    border: solid 1rem #fff555;
    padding: 1.5rem;
}